
h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.whole {
    margin: auto;
    width: 960px;
    float: initial;

    
}
.namebox {
    
    background-color: #4aaaa5;
    margin-top: 0%;
    width: 250px;
    left: 0px;
    padding: 25px;
    border:0px;
    overflow: auto;
}
    



.name {
    color: white;
    text-align: center;
}

.container1{
    width: 960px;
    border: 1.5px solid #dddddd;
    padding: 25px;
    padding-bottom: 20px;
    margin: auto;
    overflow: auto;
    

}



.para {
    font-family: Arial, Helvetica, sans-serif;
    width: auto ;
    color: #777777;
    letter-spacing: 1.5px;
    font-size: 16px;
    line-height: 180%;
    padding-bottom: 0px
    
}

.para1 {
    padding-bottom: 20px
}

.para2 {
    padding-bottom: 20px
}

.para3 {
    padding-top: 20px;
    padding-bottom: 20px}

.para4 {
    
    padding-bottom: 0px}

.container2 {
   color: #4aaaa5;
   margin: 0px;
   border: 0px;
   padding-left: 0px;
   padding-top: 10px

  
}

.container3 {
    float: left;
    padding: 25px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px
}

.line1 {
    width: 90%;
    align-self: center;
    margin: 25px;
    border: 1px #dddddd;
    padding: 1.5px;
    background: #dddddd;
}

.bottom1 {
    width: 100%;
    border-top: 25px;
    border: #4aaaa5;
    background: #ca6e6e;
    height: 100px;
    bottom: 0px;
}